
body {
	margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
}

/* FINISH ME (Task 2.2+): add the styling for the logo and the create button */




/* FINISH ME (Task 3): add responsive styling for the number of layout columns */
@media screen and (min-width: 800px) {
}
